name: karavan

services:
  karavan:
    container_name: karavan
    image: ghcr.io/apache/camel-karavan:4.10.2
    ports:
      - "8080:8080"
    environment:
      - KARAVAN_GIT_REPOSITORY=${KARAVAN_GIT_REPOSITORY}
      - KARAVAN_GIT_USERNAME=${KARAVAN_GIT_USERNAME}
      - KARAVAN_GIT_PASSWORD=${KARAVAN_GIT_PASSWORD}
      - KARAVAN_GIT_BRANCH=main
      - KARAVAN_CONTAINER_IMAGE_REGISTRY=registry:5000
      - KARAVAN_CONTAINER_IMAGE_REGISTRY_USERNAME=
      - KARAVAN_CONTAINER_IMAGE_REGISTRY_PASSWORD=
      - KARAVAN_CONTAINER_IMAGE_GROUP=karavan
      - KARAVAN_DOCKER_NETWORK=karavan
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      - "org.apache.camel.karavan/type=internal"
    networks:
      - karavan

  registry:
    container_name: registry
    image: registry:2
    restart: always
    ports:
      - "5555:5000"
    labels:
      - "org.apache.camel.karavan/type=internal"
    networks:
      - karavan

  proxy:
    image: nginx:mainline
    container_name: karavan-proxy
    ports:
      - "3001:3001"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./_tls:/etc/nginx/ssl:ro
    depends_on:
      - karavan
    networks:
      - karavan

networks:
  karavan:
    name: karavan
